script(type="text/ng-template", id="/partials/campaign_list")
  .container.page-view
    .row
      .span12
        ul
          li(ng-repeat="campaign in getCampaigns()")
            a(ng-href="#/campaign/{+campaign._id+}") {+ campaign.name +}
