// vim: set ft=less fileencoding=utf-8 :

@dialog-padding: 10px;

.panel {
    .box-sizing(border-box);
    border: 1px solid @color-ui-border;
    border-bottom-color: @color-ui-border-accent;
    .box-shadow(0px 1px 4px 0px rgb(221, 221, 221));
}

.hover-panel {
    &:hover {
        background-color: @color-ui-border;
        border-color: @color-ui-border-accent;
    }
}

.dialog {
    .panel;
}

.dialog-content {
    padding: @dialog-padding;
}

.dialog-actions {
    .box-sizing(border-box);
    padding: @dialog-padding;
    background: @color-ui-background-offset;
    border-top: 1px solid @color-ui-border;

    &.right {
        text-align: right;
    }
}

.dialog-title {
    padding-bottom: 3px;
    margin-bottom: @dialog-padding;
    border-bottom: 1px solid @color-ui-border;
    font-size: 1.5em;

    .small-title {
        font-size: 0.6em;
    }
}

.folded-corner-se (@corner-color: @color-ui-border-accent){
    position: relative;

    &:before {
       content: "";
       position: absolute;
       right: 0;
       bottom: 0;
       border-width: 10px 10px 0 0;
       border-style: solid;
       border-color: transparent @corner-color;
    }    
}

.popup-container {
    position: relative;
    margin: 0;
    padding: 0;

    .popup-menu {
        .panel;
        list-style: none outside none;

        a {
            display: block;
            padding: 3px 15px;
            color: black;

            &:hover {
                text-decoration: none;
                background-color: @color-ui-border;
            }
        }
    }
}


/*
   Input states
*/
.float-tooltip {
    .tooltip;
    position: absolute;
    right: -100%;
}


/*
   Specific controls
*/
.login-form, .signup-form {
    input[type="text"], input[type="password"] {
        width: 238px;
    }
    .control-group {
        position: relative;
    }
}

.identity-indicator {
    .panel;
    .hover-panel;
    .folded-corner-se;

    padding: 5px;

    i:first-child:after {
        content: " ";
    }
}

.identity-popup {
    .popup-container .popup-menu;

    position: absolute;
    right: 0;
}
